.LocalityContainer {
  margin-top: 3em;
}

.HeaderContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}
.HeaderName {
  color: #7a52c0;
  font-weight: 600;
  font-size: 20px;
}
.UnderScore {
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#7a52c0),
    to(#dee5ef)
  );
  margin-top: -5px;
  content: "";
  height: 4px;
  display: block;
  box-sizing: border-box;
  width: 40px;
}
.Label:hover {
  transform: scale(1.07);
  opacity: 1 !important;
  cursor: pointer;
}
