.Icon {
  float: right;
}
.Header {
  font-size: 15px;
}
.PlayIcon {
  top: 25%;
  left: 35%;
  position: absolute;
  color: white;
  cursor: pointer;
}
.ImageCard {
  cursor: pointer;
}
.Duration {
  color: #fa4861;
}

.Dropdown {
  color: #6d6d6d;
}
