/* .DummyProductCardWrapper {
  cursor: pointer;
  width: 30em;
  height: 33em;
}
.ProductImageWrapper {
  position: relative;
  width: 100%;
  height: 18.5em;
  background: #f4f4f4;
  overflow: hidden;
  animation: breath 2s infinite;
}
.ProductContentWrapper {
  width: 100%;
}
.ProductTitle {
  margin: 1em;
  width: 80%;
  height: 2em;
  background: #f4f4f4;
  animation: breath 2s infinite;
}
.ProductDetail {
} */

.OfferningContainer {
  margin-top: 30px;
}

.OfferningImage:hover {
  background: #fff;
  opacity: 0.7;
}
.OfferningCard:hover {
  transform: scale(1.04) !important;
}

.OfferningImage {
  cursor: pointer;
  position: absolute;
  top: 0;
}

OfferningCard {
  position: absolute;
  top: 0;
  box-shadow: 4px 4px 10px 0;
}

.Calendar {
  position: absolute;
  bottom: 0;
  font-weight: 600;
  margin: 2em 0em 1em 20em;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
  background-color: white;
  box-shadow: 4px 4px 10px 0;
  padding: 2px;
  opacity: 0.8;
}
.Heart {
  position: absolute;
  margin: 1em 0em 1em 20em;
  color: black;
  background-color: white;
  opacity: 0.8;
  display: flex;
}
.HeartPercent {
  font-size: 15px;
  padding: 4px;
  /* line-height: 25px; */
}

.DiscountPricePercent {
  border-radius: 2px;
  background-color: #fff;
  border: 0.2em solid #7a52c0;
  font-size: 10px;
  font-weight: 700;
  color: #7a52c0;
  padding: 2px 8px;
  position: relative;
  margin-left: 1em;

  float: right;
}
.DiscountPrice {
  display: none;
}
